<div class="fact_circle">
  <p><%= @fact %></p>
</div>


<div class="center-box">
  <% @response = Cartoon.joke %>
  <p><%= @response["title"] %></p>
  <img src="<%= @response["img"]%>">
</div>


<div class="quotes">
  <blockquote id="qod-quote"></blockquote>
</div>

<div class="weather"> 
  <p>Today's weather is:  <%= @weather["currently"]["summary"] %></p>
  <p>Current Temperature: <%= @weather["currently"]["temperature"].to_i  %></p>
  <p>Precipiation Chance: <%= @weather["daily"]["precipProbability"].to_i %>%   Humidity: <%= @weather["daily"]["Humidity"].to_i %>%</p>
  <p>Summary: <%= @weather["daily"]["summary"] %></p>
</div>

<div class="twitter-box">
  <div class="twitter">
    <p><a class="twitter-timeline" href="https://twitter.com/AnneWHilborn" data-widget-id="665713554226585600">Tweets by @AnneWHilborn</a><p>
  </div>
  <div class="twitter">
    <p><a class="twitter-timeline" href="https://twitter.com/HistoricalPics" data-widget-id="666040962842501120">Tweets by @HistoricalPics</a><p>
  </div>
</div>


