<!DOCTYPE html>
<html>
<head>
  <title>LengerLonger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer>
  <p>Built by <%= link_to "CorainChicago", "http://corainchicago.github.io/" %></p>
</footer>

</body>
</html>
